.programs_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 100px;
  background-color: rgba(251, 252, 247, 1);

  .page_number {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(140, 151, 117, 1);
    align-self: flex-end;
  }

  .block_wrapper {
    width: 100%;
    padding: 32px 60px;
  }

  .title {
    font-family: "Poiret One";
    width: fit-content;
    font-weight: 400;
    font-size: 48px;
    color: rgba(0, 0, 0, 1);
    border-bottom: 3px solid rgba(140, 151, 117, 1);
    padding-bottom: 20px;
    align-self: center;
  }

  .section_block {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    .img_container {
      width: 320px;
      height: 520px;
      box-shadow: -60px 0px 70px -20px rgba(140, 151, 117, 0.6);
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      object-fit: cover;
      flex: 0 0 auto;

      img {
        transform: scale(-1, 1);
        height: 100%;
        max-width: none;
      }
    }

    .text_block {
      height: 520px;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;

      .text_wrapper {
        background-color: rgba(245, 246, 240, 1);
        padding: 20px 40px 0 40px;
        height: 100%;

        h3 {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 8px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}
