.questions_container {
  background-color: rgba(140, 151, 117, 1);
  padding: 60px 100px;
  display: flex;
  flex-direction: column;

  .page_number {
    color: rgba(255, 255, 255, 1);
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(66, 65, 45, 1);
  }

  .block_wrapper {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 720px;
    align-self: center;
  }

  .title {
    font-family: "Poiret One";
    width: fit-content;
    font-weight: 400;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    margin-bottom: 12px;
  }

  .faq_wrapper {
    .question {
      padding: 16px 32px;
      display: flex;
      justify-content: space-between;
      border: 0.5px solid rgba(255, 255, 255, 1);
      border-radius: 8px;
      box-shadow: 0 2px 4px 0;
      backdrop-filter: blur(25px);
      background-color: rgba(145, 157, 121, 1);
      cursor: pointer;

      h3 {
        padding: 11px 0;
        font-weight: 600;
        font-size: 18px;
        color: rgba(66, 65, 45, 1);
      }
    }

    .answer_wrapper {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1.4s ease;

      &.active {
        max-height: 300px;
        animation: fade 1s ease-in-out;
      }
    }

    .answer {
      margin-top: 20px;
      padding: 16px 32px;
      border: 0.5px solid rgba(255, 255, 255, 1);
      border-radius: 8px;
      box-shadow: 0 2px 4px 0;
      backdrop-filter: blur(25px);
      background-color: rgba(255, 255, 255, 1);
      background-color: rgba(245, 246, 240, 1);

      p {
        font-weight: 400;
        font-size: 16px;
      }
    }

    .answer_title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        font-weight: 600;
        font-size: 18px;
        color: rgba(66, 65, 45, 1);
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
