.about_container {
  //height: 670px;
  padding: 32px 32px 68px 32px;
  background-color: rgba(140, 151, 117, 1);
  display: grid;
  gap: 20px;

  grid-template-areas: "title" "text" "img" "btn";
  //align-items: center;
  justify-items: center; /* Центрирование содержимого ячеек по горизонтали */
  align-items: center; /* Центрирование содержимого ячеек по вертикали */
  //justify-content: space-between;

  @media (min-width: 768px) {
    grid-template-areas: "title" "img" "text" "btn";
    padding: 40px 32px;
  }

  @media (min-width: 1440px) {
    grid-template-areas: "title img" "text img" "btn img";
    padding: 60px 160px;
    justify-content: space-between;
    justify-items: start;
    gap: 0;
  }
}

.title {
  grid-area: title;
  text-align: center;

  p {
    font-family: "Poiret One";
    color: rgba(255, 255, 255, 1);
    font-size: 28px;

    span {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 28px;
      color: rgba(68, 78, 48, 1);
    }
  }

  @media (min-width: 768px) {
    p {
      font-size: 36px;

      span {
        font-weight: 400;
        font-size: 40px;
      }
    }
  }

  @media (min-width: 1440px) {
    padding-left: 40px;
    align-self: end;
    text-align: start;

    p {
      font-size: 40px;

      span {
        font-weight: 600;
        font-size: 48px;
      }
    }
  }
}

.text_wrapper {
  max-width: 560px;
  grid-area: text;
  text-align: center;

  p {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
  }

  @media (min-width: 1440px) {
    text-align: start;
    p {
      font-size: 20px;
      padding-left: 40px;
    }
  }
}

.btn_wrapper {
  align-self: center;
  grid-area: btn;

  @media (min-width: 1440px) {
    padding-left: 40px;
    align-self: end;
  }
}

.img_wrapper {
  grid-area: img;
  position: relative;
}

.img_container {
  width: 253px;
  height: 336px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 1);

  @media (min-width: 768px) {
    width: 380px;
    height: 502px;
  }

  @media (min-width: 1440px) {
    width: 420px;
    height: 550px;
  }
}

.quote {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 210px;
  top: 30px;
  width: 321px;
  height: 90px;
  border-radius: 148px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 22px;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);

  @media (min-width: 1440px) {
    display: flex;
  }

  p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);

    span {
      font-family: "Poiret One";
      font-style: normal;
      font-size: 28px;
    }
  }
}
