.prices_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 246, 240, 1);
  padding: 100px;
}

.page_number {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(140, 151, 117, 1);
  align-self: flex-end;
  color: rgba(18, 18, 18, 1);
  margin-bottom: 32px;
}

.prices_wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  font-family: "Poiret One";
  width: fit-content;
  font-weight: 400;
  font-size: 48px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 3px solid rgba(140, 151, 117, 1);
  padding-bottom: 20px;
  align-self: center;
}

.prices_block {
  display: flex;
  padding: 0 60px;
  gap: 30px;

  .price_card {
    display: flex;
    flex-direction: column;
    height: 208px;
    width: 100%;
    border-radius: 8px;
    border: 3px solid rgba(230, 234, 216, 1);

    &:nth-child(2) {
      border: 3px solid rgba(140, 151, 117, 1);
      height: 240px;
    }

    .price_title {
      background-color: rgba(140, 151, 117, 1);
      color: rgba(245, 246, 240, 1);
      font-weight: 700;
      font-size: 28px;
      text-align: center;
      padding: 12px 20px;
    }

    .price_text {
      height: 100%;
      display: flex;
      padding-top: 32px;
      justify-content: center;

      p {
        font-weight: 600;
        font-size: 24px;
        text-align: center;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }
}
